package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.v3.oas.annotations.media.Schema;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import com.wrp.raywing.common.domain.BaseEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${comments}
 * 
 * @author ${author}
 * @since ${datetime}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@TableName(value = "${tableName}", autoResultMap = true)
public class ${className}Entity extends BaseEntity {

#foreach ($column in $columns)
	/**
	 * $column.comments
	 */
	#if($column.columnName == $pk.columnName)
@TableId
	#end
@Schema(name = "$column.comments")
private $column.attrType $column.attrname;
#end

}
