package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.${moduleName}.entity.${className}Entity;

import ${package}.common.domain.PageParam;

/**
 * ${comments}
 *
 * @author ${author}
 * @since ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    IPage<${className}Entity> page(PageParam<Object> pageParam);
}

